* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;

}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cc0000;
}

@media (max-width: 600px) {
    #nav-bar {
      display: none;
    }
  }

#nav-link{
    display: flex;
}

#video{
    margin-top: 50vh;
    align-content: center;
}

#header {
    display: flex;
  }