* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;

}

#nav-bar{
    position: fixed;
    top: 0 px;
    left: 0;
    background-color: #cc0000;
}

@media (max-width:650px) {
    nav {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
    
}

#nav-link{
    display: flex;
}

#video{
    margin-top: 50vh;
    align-content: center;
}
